asgiref==3.8.1
Django==5.1.5
django-appconf==1.0.6
django-select2==8.2.3
django-widget-tweaks==1.5.0
pillow==11.1.0
pytz==2024.2
sqlparse==0.5.3
tzdata==2024.2
tablib==3.8.0
python-dotenv==1.0.1
django-debug-toolbar==5.0.1
mysqlclient==2.2.7
watchdog==6.0.0
