{% extends "base.html" %}
{% load static %}

{% block title %}Manuals Search{% endblock %}

{% block heading_h1 %}<h1>Operations & Maintenance Manuals</h1>{% endblock %}
{% block heading_h2 %}<h2>Search and Browse Manuals</h2>{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="GET" action="{% url 'om_manuals:manual_list' %}" class="mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search manuals..." name="q" value="{% if query %}{{ query }}{% endif %}">
                    <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i> Search</button>
                </div>
            </form>

            {% if manuals %}
                <p>Found {{ manuals|length }} manuals matching your search.</p>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align: left;">Title</th>
                                <th style="text-align: center;">Section</th>
                                <!-- <th style="text-align: left;">Folder</th> -->
                                <!-- <th style="text-align: center;">File Type</th> -->
                                <th style="text-align: center;">File</th>
                                <th style="text-align: center;">Download</th>
                                <th style="text-align: left;">File Size</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for manual in manuals %}
                                <tr>
                                    <td style="text-align: left;"><a href="{% get_media_prefix %}{{ manual.file_path }}" target="_blank">{{ manual.title }}{{ manual.file_type }}</a></td>
                                    <td style="text-align: center;"><a href="{% get_media_prefix %}{{ manual.file_path }}" target="_blank">{{ manual.section|default:'-' }}</a></td>
                                    <!-- <td style="text-align: left;">{{ manual.folder|default:'-' }}</td> -->
                                    <!-- <td style="text-align: center;">{{ manual.file_type }}</td> -->
                                    <td style="text-align: center;">
                                        <a href="{% get_media_prefix %}{{ manual.file_path }}" target="_blank" class="btn btn-sm btn-outline-secondary">
                                            <i class="bi bi-file-earmark-text"></i> Open File
                                        </a>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="{% get_media_prefix %}{{ manual.file_path }}" download="{{ manual.file_name }}" class="btn btn-sm btn-primary">
                                            <i class="bi bi-download"></i> Download
                                        </a>
                                    </td>  
                                    <td style="text-align: left;">{{ manual.readable_file_size }}</td>  
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% elif query %}
                <p>No manuals found matching your search query.</p>
            {% endif %}

            <hr>  <!-- Separator line -->

            <h3>Browse Manuals</h3>
            <ul class="list-group" style="text-align: left;">
                {% include 'om_manuals/folder_structure.html' with structure=folder_structure current_path=current_path %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}