{% extends 'base.html' %}
{% block title %}ATE MMS{% endblock %}
{% block heading_h1 %}<h1>Air Traffic Engineering</h1>{% endblock %}
{% block heading_h2 %}<h2>Maintenance Management System</h2>{% endblock %}
{% block content %}
<div class="services">
    <!-- <a href="/job_card/?filter=assigned" class="service-card-link"> -->
    <a href="/job_card/" class="service-card-link">
        <div class="service-card">
            <h3>Job Card</h3>
            <!-- <p>Create, assign, and track job cards for maintenance tasks.</p> -->
        </div>
    </a>
    <a href="/inspections/" class="service-card-link">
        <div class="service-card">
            <h3>Daily Inspection</h3>
            <!-- <p>Conduct regular inspections to ensure system reliability and compliance.</p> -->
        </div>
    </a>
    <a href="/logbook/" class="service-card-link">
        <div class="service-card">
            <h3>Logbook</h3>
            <!-- <p>Maintain a detailed logbook of all maintenance activities for future reference.</p> -->
        </div>
    </a>
    <a href="/preventive_maintenance/" class="service-card-link">
        <div class="service-card">
            <h3>Preventive Maintenance</h3>
            <!-- <p>Schedule and manage preventive maintenance activities.</p> -->
        </div>
    </a>
    <a href="/corrective_maintenance/" class="service-card-link">
        <div class="service-card">
            <h3>Corrective Maintenance</h3>
            <!-- <p>Log and manage corrective maintenance tasks to ensure operational continuity.</p> -->
        </div>
    </a>
    <a href="/asset/" class="service-card-link">
        <div class="service-card">
            <h3>Asset</h3>
            <!-- <p>Track and manage all assets within the maintenance system.</p> -->
        </div>
    </a>
    <a href="/spare_parts/" class="service-card-link">
        <div class="service-card">
            <h3>Spare Parts & Inventory</h3>
            <!-- <p>Track and manage all assets within the maintenance system.</p> -->
        </div>
    </a>
     <!-- 
    <div class="service-card">
        <h3>Manual</h3>
        <p>A Library of OEM Manuals and SOP's</p>
    </div>
    <div class="service-card">
        <h3>Reporting and Analytics</h3>
        <p>Generate reports and analytics to improve maintenance processes.</p>
    </div>
    -->
</div>

{% endblock %}