{% extends 'base.html' %}
{% block title %}
ATE CMMS
{% endblock %}

{% block content %}

<div class="services">
    <a href="/asset/" class="service-card-link">
        <div class="service-card">
            <h3>Asset Management</h3>
            <!-- <p>Track and manage all assets within the maintenance system.</p> -->
        </div>
    </a>
    <div class="service-card">
        <h3>Logbook</h3>
        <!-- <p>Maintain a detailed logbook of all maintenance activities for future reference.</p> -->
    </div>
    <div class="service-card">
        <h3>Job Card Management</h3>
        <!-- <p>Create, assign, and track job cards for maintenance tasks.</p> -->
    </div>
    <div class="service-card">
        <h3>Preventive Maintenance</h3>
        <!-- <p>Schedule and manage preventive maintenance activities.</p> -->
    </div>
    <div class="service-card">
        <h3>Corrective Maintenance</h3>
        <!-- <p>Log and manage corrective maintenance tasks to ensure operational continuity.</p> -->
    </div>
    <div class="service-card">
        <h3>Daily Inspection</h3>
        <!-- <p>Conduct regular inspections to ensure system reliability and compliance.</p> -->
    </div>
    <div class="service-card">
        <h3>Reporting and Analytics</h3>
        <!-- <p>Generate reports and analytics to improve maintenance processes.</p> -->
    </div>
</div>

{% endblock %}