{% extends 'base.html' %}

{% block content %}
<h2>Preventive Maintenance Records</h2>
<a href="/preventive_maintenance/create/">Add New Record</a>
<table>
    <tr>
        <th>Asset</th>
        <th>Location</th>
        <th>Duration</th>
        <th>Remarks</th>
        <th>Photo</th>
    </tr>
    {% for record in records %}
    <tr>
        <td>{{ record.asset }}</td>
        <td>{{ record.location }}</td>
        <td>{{ record.duration }}</td>
        <td>{{ record.remarks }}</td>
        <td>
            {% if record.photo %}
                <img src="{{ record.photo.url }}" alt="Photo" style="width: 100px; height: auto;">
            {% else %}
                No Photo
            {% endif %}
        </td>
        <td>
            <a href="/preventive_maintenance/{{record.id}}/update/">Edit</a>
            <a href="/preventive_maintenance/{{record.id}}/delete/">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
